<service>
	<serviceName>web</serviceName>
	<serviceAliases>
		<alias>navegar</alias>
		<alias>browse</alias>
	</serviceAliases>
	<serviceDescription>Buscar y navegar en Internet mediante el email</serviceDescription>
	<creatorEmail>kumahavana@gmail.com</creatorEmail>
	<serviceCategory>comunicaciones</serviceCategory>
</service>
