/*
	HOME
*/

.input {
	margin-top: 20px; 
}

.input .search {
	position: absolute;
	right: 5px;
	bottom: 15px;
}

.card-panel {
	padding: 10px;
	overflow: hidden;
	text-align: left;
	min-height: 80px;
}

.card-panel.history {
	text-align: center;
}

/*
	GOOGLE & HISTORY
*/

.box {
	padding: 15px 0px;
	overflow: hidden;
}

.compact {
	padding: 10px 0px;
}

.box:nth-child(odd) {
	background-color: #F8F8F8;
}

.title {
	color: #1a0dab;
	font-size: 18px;
}

.url {
	color: #006621;
	font-size: 14px;
}

.note {
	color: #545454;
	font-size: 13px;
}

.bottom-space {
	margin-bottom: 80px;
}