/*
	HOME SCREEN
*/

.suffix {
	position: absolute;
	width: 1.5rem;
	font-size: 2rem;
	transition: color .2s;
	top: 1.3rem;
	right:0px;
}

.card-panel {
	padding: 5px;
	overflow-wrap: break-word;
	min-height: 80px;
}

/*
	GOOGLE SCREEN
*/

.box {
	padding: 30px 0px;
}

.box:nth-child(odd) {
	background-color: #F8F8F8;
}

.title {
	color: #1a0dab;
	font-size: 18px;
}

.url {
	color: #006621;
	font-size: 14px;
}

.note {
	color: #545454;
	font-size: 13px;
}

