/*
	LAYOUT
*/

#search {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px 10px 10px 10px;
}

#content {
	margin-top: 70px;
}

.icon {
	position: absolute;
	top: 10px;
	background-color: white;
	cursor: pointer;
}

.send {
	right: 10px;
}

.home {
	right: 40px;
}

.back {
	right: 70px;
}

.input-field {
	margin: 0px;
}

/*
	HOME SCREEN
*/

.card-panel {
	padding: 5px;
	overflow-wrap: break-word;
	min-height: 80px;
}

/*
	GOOGLE SCREEN
*/

.box {
	padding: 30px 0px;
}

.box:nth-child(odd) {
	background-color: #F8F8F8;
}

.title {
	color: #1a0dab;
	font-size: 18px;
}

.url {
	color: #006621;
	font-size: 14px;
}

.note {
	color: #545454;
	font-size: 13px;
}

/*
	WEB SCREEN
*/

#reset-all-css {
	all: initial;
	word-wrap: break-word;
}