<!-- SEARCH BAR -->
<div id="search">
	<!-- home & send buttons -->
	<i class="material-icons green-text small icon send" onclick="submit()">send</i>
	<i class="material-icons grey-text small icon home" onclick="apretaste.send({'command':'WEB'})">home</i>
	<i class="material-icons grey-text small icon settings" onclick="settings()">settings</i>

	<!-- back button -->
	<% if(query !== "") { %>
		<i class="material-icons grey-text small icon back" onclick="history.go(-1)">keyboard_backspace</i>
	<% } %>

	<!-- Input -->
	<input id="query" placeholder="Inserte texto o p&aacute;gina a buscar" value="<%= query %>" type="text"/>
</div>

<!-- CONTENT -->
<div id="content">
	{{APP_TEMPLATE_CODE}}
</div>

<!-- SETTINGS MODAL -->
<div id="settings" class="modal">
	<div class="modal-content">
		<h4>Ajustes</h4>
		<p>Ajustes para la web</p>

		<div class="menu-item">
			<div class="switch">
				<label>
					Modo ahorro
					<input id="save" type="checkbox" checked/>
					<span class="lever"></span>
				</label>
			</div>
			<p class="small">Conéctese por datos o WiFi para obtener mejores resultados.</p>
		</div>

		<div class="menu-item">
			<a href="#!" onclick="alert('TODO')">
				<i class="material-icons green-text left">access_time</i> Ver historial
			</a>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
	</div>
</div>