<!-- SEARCH BAR -->
<div class="row">
	<div class="col s12">
		<div class="input-field">
			<!-- Submit button -->
			<i class="material-icons green-text small suffix" onclick="submit()">send</i>

			<!-- Input -->
			<input id="query" placeholder="Inserte texto o página a buscar" value="<%= query %>" type="text"/>

			<!-- Switch
			<div class="switch">
				<label>
					Modo ahorro
					<input id="save" type="checkbox" checked/>
					<span class="lever"></span>
				</label>  -->
			</div>
		</div>
	</div>
</div>

<!-- CONTENT -->
{{APP_TEMPLATE_CODE}}