<div class="row">
	<div class="col s12">
		<h1>Recurso no encontrado.</h1>
		<p>Lo sentimos, pero la página que intenta buscar no existe, está temporalmente desabilitada o el texto que esta intentando buscar no pudo ser encontrado.</p>
	</div>
</div>