<div class="row">
	<div class="col s12">
		<h1><%= query %></h1>

		<% results.forEach(res => { %>
			<div class="box">
				<a href="#!">
					<div class="title"><%= res.title %></div>
					<div class="url"><%= res.url %></div>
				</a>
				<div class="note"><%= res.note %></div>
			</div>
		<% }) %>
	</div>
</div>