<div class="row">
	<div class="col s12">
		<% results.forEach(function(item) { %>
			<div class="box">
				<a href="#!" onclick="apretaste.send({command:'WEB', data:{query:'<%= item.url %>'}})">
					<div class="title"><%= item.title %></div>
					<div class="url"><%= item.url %></div>
				</a>
				<div class="note"><%= item.note %></div>
			</div>
		<% }) %>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command:'WEB'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>