<div class="row">
	<div class="col s12">
		<% results.forEach(res => { console.log(res); %>
			<div class="box">
				<a href="#!" onclick="apretaste.send({'command':'WEB', data:{query:'<%= res.url %>'}})">
					<div class="title"><%= res.title %></div>
					<div class="url"><%= res.url %></div>
				</a>
				<div class="note"><%= res.note %></div>
			</div>
		<% }) %>
	</div>
</div>